// =========================== FONT =========================== //
// @font-face {
//   font-family: "NotoSerifKR";
//   src: url("/fonts/NotoSerifKR.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: "D2Coding";
  src: url("/fonts/D2Coding.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
