// =========================== COLOR =========================== //
// - source/css/_variables/base.styl - //
$grey-dim = #800a0a;
$black-light = #000;
$black-dim = #800a0a;
$black-deep = #800a0a;
$red = #800a0a;
$blue-bright = #800a0a;
$blue = #800a0a;
$blue-deep = #800a0a;
$orange = #800a0a;
$text-color = #000;
$link-hover-color = #800a0a;
$blockquote-color = #800a0a;
$selection-bg = #800a0a;
$table-row-hover-bg-color = #800a0a;
$btn-default-hover-bg = #800a0a;
$pagination-link-hover-color = #800a0a;
$brand-hover-color = #800a0a;
$site-author-image-border-color = #800a0a;
$site-author-name-color = #000000;
$note-border = {
  danger: #800a0a
};
$note-modern-text = {
  danger: #800a0a
};

// - source/css/_variables/Pisces.styl - //
$sidebar-nav-hover-color = #800a0a;
$sidebar-highlight = #800a0a;
$site-description-color = #800a0a;
$site-state-item-name-color = #800a0a;
